.border-error {
    border: solid #c53030 1px !important;
    background-color: unset !important;
    border-radius: 0.25rem;
}

.border-normal {
    border: solid #cbd5e0 1px !important;
    background-color: unset !important;
    border-radius: 0.25rem;
}
