<div type="hidden" class="text-xs text-red-700 font-bold">
    <span class="help-block has-error" *ngIf="control?.errors?.maxlength">
        {{ ngtValidationTranslateService.ngtValidationMaxCharactersExceded }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.required && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationRequiredField }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.email && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationInvalidEmail }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.unique && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationAlreadyExists }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.cnpj && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationInvalidCnpj }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.cpf && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationInvalidCpf }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.password && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationPasswordRequiredMinCharacters }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.match && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationFieldsNotMatch }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.invalidDate && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationInvalidDate }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.time && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationInvalidPrevision }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.externalServerDependency && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationExternalServerUnavailable }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.minValue && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationValueMustBeGreaterThan(minValue) }}
    </span>

    <span class="help-block has-error"
          *ngIf="control?.errors?.minlength && (control?.dirty || (container && container['submitted']))">
        {{ ngtValidationTranslateService.ngtValidationMinLengthField(minLength) }}
    </span>
</div>
