<label class="{{shining ? 'hidden' : 'flex'}} mb-2 {{ngtDatepickerInputStyle.compile(['text', 'color.text', 'fontCase'])}}"
       *ngIf="label">
    {{ label }}:

    <span class="text-red-500 font-bold text-md ml-1" *ngIf="isRequired">*</span>

    <ngt-helper *ngIf="helpText" class="ml-1">
        <div title>
            {{helpTitle}}
        </div>
        <div text>
            {{helpText}}
        </div>
    </ngt-helper>
</label>

<div *ngIf="isDisabled"
     class="{{shining ? 'hidden' : 'block'}} w-full px-4 py-3 rounded appearance-none border bg-gray-100 border-gray-300">
    <div *ngIf="!value?.length" class="opacity-75">
        {{datepickerOptions.placeholder}}
    </div>
    {{formattedDates}}
</div>

<div *ngIf="!isDisabled" class="{{shining ? 'hidden' : 'relative'}} w-full inline-block box-border">
    <input type="hidden" [ngModel]="value" [value]="value" [name]="name">

    <div
        class="flex items-center justify-between w-full {{hasErrors() ? 'border-error' : 'border-normal'}} {{ngtDatepickerInputStyle.compile(['h', 'border', 'rounded', 'color.border'])}}"
        #input>
        <div class="w-full h-full flex items-center truncate cursor-pointer px-2" (click)="open()">
            <div *ngIf="!value" class="opacity-75">
                {{datepickerOptions.placeholder}}
            </div>

            {{formattedDates}}
        </div>

        <div *ngIf="datepickerOptions.clearable || datepickerOptions.hideCalendarIcon"
             class="flex h-full items-center gap-3 pl-2">
            <div *ngIf="datepickerOptions.clearable" class="flex h-full items-center cursor-pointer hover:text-red-500"
                 (click)="clear()">
                <svg class="fill-current text-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                    <path
                        d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
                </svg>
            </div>

            <div *ngIf="!datepickerOptions.hideCalendarIcon" class="flex h-full items-center cursor-pointer"
                 (click)="open()">
                <svg class="fill-current text-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M19,4H17V3a1,1,0,0,0-2,0V4H9V3A1,1,0,0,0,7,3V4H5A3,3,0,0,0,2,7V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4Zm1,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V12H20Zm0-9H4V7A1,1,0,0,1,5,6H7V7A1,1,0,0,0,9,7V6h6V7a1,1,0,0,0,2,0V6h2a1,1,0,0,1,1,1Z"/>
                </svg>
            </div>
        </div>
    </div>

    <div *ngIf="isOpened && template && datepickerOptions"
         style="min-width: 18rem!important; max-width: 18rem!important; z-index: 99999999!important;"
         class="{{ngtDatepickerStyle.compile(['text', 'color.text', 'color.bg', 'fontCase', 'border', 'color.border'])}} absolute {{position == ngtDatepickerPositionEnum.RIGHT ? 'right-0' : 'left-0'}}"
         #datepicker>
        <div class="w-full flex justify-between items-center p-2">
            <div class="h-full font-bold flex items-center relative capitalize px-2">
                {{ getMonthName() }}
            </div>
            <div class="h-full flex justify-end gap-3 items-center text-xl">
                <svg class="fill-current cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     (click)="prevMonth()">
                    <path
                        d="M11.29,12l3.54-3.54a1,1,0,0,0,0-1.41,1,1,0,0,0-1.42,0L9.17,11.29a1,1,0,0,0,0,1.42L13.41,17a1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41Z"/>
                </svg>
                <svg class="fill-current cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     (click)="nextMonth()">
                    <path
                        d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/>
                </svg>
            </div>
        </div>

        <div class="block w-full h-full text-sm p-2">
            <div class="w-full flex flex-wrap items-center justify-between h-12">
                <div *ngFor="let day of weekDays" class="font-bold text-center"
                     style="width: calc(100% / 7)">
                    {{day}}
                </div>
            </div>
            <div class="w-full flex flex-wrap items-center">
                <div *ngFor="let day of days" style="width: calc(100% / 7)">
                    <div
                        class="day-unit flex justify-center p-2 rounded w-8 h-8 items-center cursor-pointer {{template.onDayHover}} {{dayClasses(day)}}"
                        (click)="setDate(day)">
                        {{ day.day }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="shining">
    <div class="flex">
        <ngt-shining class="h-10 w-full"></ngt-shining>
    </div>
</ng-container>

<ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>
