.image-preview-default-class {
    margin: unset !important;
}

custom-dropzone-preview {
    height: 100% !important;
    min-height: unset !important;
    margin: unset !important;
}

.div-loader {
    border-top-color: #a0aec0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
